# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Fred Wang
#	email = fred@FreddeMacBook-Pro.local
[user]
	name = kenshinji
	email = gundam0083ster@gmail.com
